body {
		background-color: #663333;
		color: #ffcc99;
		background-image: url(images/javaBeans.jpg);
	}
	body, table, td {
		font-size: 12pt;
		font-family: Arial, Helvetica, sans-serif;
	}
	table {
		margin-left: 20px;
	}
	h1 {
		color: #ffcc99;
	}
	h2, h3 {
		color: #ffcc99;
		margin-bottom: 0px;
		font-weight: bold;
		font-variant: small-caps;
	}
	h3 {
		margin-top: 10px;
	}
	th {
		font-variant: small-caps;
	}
	input {
		text-align: right;
	}
	input.normal {
		text-align: center;
	}